---
http_interactions:
- request:
    method: get
    uri: http://www.micex.ru/iss/engines/stock/markets/shares/boards/eqne/securities/gazp.json?iss.only=marketdata&marketdata.columns=NUMTRADES
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Micexpassport-Marker:
      - denied
    body:
      encoding: US-ASCII
      string: ! "{\n\"marketdata\": {\n\t\"metadata\": {\n\t\t\"NUMTRADES\": {\"type\":
        \"int32\"}\n\t},\n\t\"columns\": [\"NUMTRADES\"], \n\t\"data\": [\n\t\t[43054]\n\t]\n}}\n"
  recorded_at: Tue, 24 Apr 2012 13:22:56 GMT
recorded_with: VCR 2.0.1
